@{
    ViewBag.Title = "Ekip";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<script src="~/Content/AdminContent/js/buttonActions.js"></script>


<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Ekip Yönetimi</h1>
        <h4>Bu kısımda ekip üyesi ekleyip silebilir veya düzenleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Ekip Yönetimi</li>
    </ul>
</div> 

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-user"></i> Ekip Üyesi Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="#" class="form-horizontal form-row-separated">
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye İsim ve Soyisim:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="textfield3" id="textfield3" placeholder="Üye İsmini ve Soyismini Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ekip üyenize ait isim ve soyisim bilgisini giriniz..." data-original-title="Üye İsim Soyisim" data-placement="top">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Üye Pozisyon:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select class="form-control input-sm" tabindex="1">
                                <option value="Category 1">Pozisyon 1</option>
                                <option value="Category 2">Pozisyon 2</option>
                                <option value="Category 3">Pozisyon 5</option>
                                <option value="Category 4">Pozisyon 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Üye Tecrübe:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <select class="form-control input-sm" tabindex="1">
                                <option value="Category 1">1 Yıldız</option>
                                <option value="Category 2">2 Yıldız</option>
                                <option value="Category 3">3 Yıldız</option>
                                <option value="Category 4">4 Yıldız</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Üye Yaşı:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <input type="text" name="textfield3" id="textfield3" placeholder="Üye Yaşını Giriniz" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma üyenizin yaşını giriniz..." data-original-title="Üye Yaş" data-placement="top">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Üye Resim:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Resim Seç</span>
                                        <span class="fileupload-exists">Değiştir</span>
                                        <input type="file" name="UyeResimAdi" id="Dosya" class="file-input" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Üye Biyografisi:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <textarea class="form-control col-md-12 ckeditor" id="Answer" name="editor1" rows="6"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" style="float:right" onclick="DataSave()"><i class="fa fa-check-circle"></i> Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>@*Ekip Ekleme*@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Ekip Üyeleri</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Üye İsim</th>
                                <th>Üye Resim</th>
                                <th>Üye Pozisyon</th>
                                <th>Üye Biyografi</th>
                                <th>Üye Tecrübe</th>
                                <th>Üye Yaş</th>
                                <th>İncele</th>
                                <th>Düzenleme</th>
                                <th>Silme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-flag-blue">
                                <td><input type="checkbox" /></td>
                                <td>1</td>
                                <td>İsim</td>
                                <td>Resim</td>
                                <td>Pozisyon</td>
                                <td>Biyografi</td>
                                <td>Tecrübe</td>
                                <td>Yaş</td>
                                <td><a class="btn btn-sm show-tooltip" title="İncele" href="#"><i class="fa fa-search"></i></a></td>
                                <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="#"><i class="fa fa-edit"></i></a></td>
                                <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>@*Ekip List*@

<footer>
    <p>2016 © <a href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>


<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript" src="/Content/AdminContent/assets/ckeditor/ckeditor.js"></script>

<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
