@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Proje Kulübü Türkiye</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/AdminContent/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminContent/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/AdminContent/css/flaty.css">
    <link rel="stylesheet" href="~/Content/AdminContent/css/flaty-responsive.css">
    <link rel="shortcut icon" href="img/favicon.png">
</head>
<body class="error-page">
    <!-- BEGIN Main Content -->
    <div class="error-wrapper">
        <h4>Sayfa Bulunamadı!<span>404</span></h4>
        <p style="font-size:16px">Oops! Malesef, Aramış Olduğunuz Sayfa Bulunamadı<br /> <b style="font-size:16px">Not:Bu hatayla sık sık karşılaşmanız durumunda alt yapı sağlayıcınızla iletişime geçiniz.</b> </p>
        <br />
        <hr />
        <p class="clearfix">
            <a href="@Url.Action("Index","Home")" class="pull-left">← Ana Sayfaya Git</a>
        </p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.4.min.js"><\/script>')</script>
    <script src="~/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

