@{
    ViewBag.Title = "QuestionRequest";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}
<style>
    #Question, #Answer {
        margin-left: 20px;
        height: 250px;
        width: 500px;
        border-radius: 15px;
        border: solid 1px #EB5E28;
    }


    #Answer {
        margin-top: 20px;
        margin-left: 7px;
    }


    #SendQuestion {
        float: right;
        margin-right: 15px;
        width: 200px;
        height: 50px;
        font-size: 18px;
        border-radius: 25px;
        border: none;
        background-color: #EB5E28;
        color: cornsilk;
    }

    #LblQuestion, #LblAnswer {
        float: left;
        color: #EB5E28;
        font-size: 20px;
    }
</style>
<h3 style="margin-top: -15px;padding-bottom: 20px;">Sık Sorulan Sorular</h3>

<div class="col-lg-6 col-md-6">
    <div class="card">
        <div class="header">
            <h4 class="title">Soru Ekleme</h4>
        </div>
        <div class="content">
            <form>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Soru Başlığı</label>
                            <input type="text" class="form-control border-input" placeholder="Soru İsmini Giriniz">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/pikocon_html/images/sorular.png" style="height:100px;position:relative;left:60px" alt="Alternate Text" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Soru Cevabı</label>
                            <textarea rows="5" class="form-control border-input" placeholder="Soru Cevabını Giriniz"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-fill btn-wd">Kaydet</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>



<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Mevcut Yayındaki Sorular</h4>
                    <p class="category">Yayındaki sorularınızın silme ve düzenleme işlemlerini buradan yapabilirsiniz</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Soru Başlığı</th>
                        <th>Soru Cevap</th>
                        <th>Silme</th>
                        <th>Düzenleme</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Soru 1</td>
                                <td>Cevap 1</td>
                                <td><a href="#"><span class="ti-trash"></span></a></td>
                                <td><a href="#"><span class="ti-pencil-alt"></span></a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>
    </div>
    </div>

   



