@model ProjeKulubu.Models.AskedQuestions

@{
    ViewBag.Title = "QuestionRequest";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<script src="~/Content/AdminContent/js/buttonActions.js"></script>

<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Sık Sorulan Sorular</h1>
        <h4>Bu kısımda soru ve cevap ekleyip silebilir veya düzenleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Sık Sorulan Sorular</li>
    </ul>
</div> 


<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-question-circle"></i> Soru Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("QuestionRequest","Admin",FormMethod.Post,new { @class = "form-horizontal form-row-separated" }))
                {

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label for="textfield3" class="col-sm-3 col-lg-2 control-label">Soru Başlığı:</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            @Html.TextBoxFor(model => model.Question,new { @class="form-control show-popover",@placeholder="Soru Başlığını Giriniz",@data_trigger="hover",@data_content="Bu kısıma soru metni giriniz...",@data_original_title="Soru Metni",@data_placement="top",@id="textfield3",@name="textfield3"})
                        </div>
                    </div>
                    <div class="box-content">

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Soru Cevap:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                @Html.TextAreaFor(model =>model.QuestionAnswer,new { @class="form-control col-md-12 ckeditor",@id="Answer",@name="editor1",@rows="6"})
                            </div>
                        </div>

                    </div>

                    <div class="form-group last">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" style="float:right" onclick="DataSave()"><i class="fa fa-check-circle"></i> Kaydet</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div> @* Soru EKLEME *@

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Sorular</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Düzenle" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Soru Başlığı</th>
                                <th>Soru Cevabı</th>
                                <th>İnceleme</th>
                                <th>Silme</th>
                                <th>Düzenleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-flag-blue">
                                <td><input type="checkbox" /></td>
                                <td>1</td>
                                <td>Soru</td>
                                <td>Cevap</td>
                                <td><a class="btn btn-sm show-tooltip" title="İncele" href="#"><i class="fa fa-search"></i></a></td>
                                <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="#"><i class="fa fa-edit"></i></a></td>
                                <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a></td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> @* Soru Tablosu *@

<footer>
    <p>2016 © <a href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>

<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript" src="/Content/AdminContent/assets/ckeditor/ckeditor.js"></script>