@model ProjeKulubu.Models.Referanslar

@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}



<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />

<div class="page-title">
    <div>
        <h1><i class="fa fa-star"></i> Referanslar</h1>
        <h4>Bu kısımda mevcut referanslarınızı düzenleyebilir veya referans ekleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Referans Yönetimi</li>
    </ul>
</div> 

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-star-half-full"></i> Referans Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Reference", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {

                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label" for="username">Referans Başlığı:</label>
                        <div class="col-sm-6 col-lg-4 controls">
                            @Html.TextBoxFor(model => model.Baslik, new { @class = "form-control" })
                            @*<input type="text" name="username" id="username" class="form-control" data-rule-required="true" data-rule-minlength="3" />*@
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Resim Yükleme:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">Resim Seç</span>
                                            <span class="fileupload-exists">Değiştir</span>
                                            <input type="file" name="UyeResimAdi" id="Dosya" class="file-input" />
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                                    </div>
                                </div>
                            </div>
                     </div>
                        <div class="form-group">
                            <label for="urlfield" class="col-sm-3 col-lg-2 control-label">SeoAlt:</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                @Html.TextBoxFor(model =>model.SeoAlt, new { @class = "form-control" })
                                @*<input type="text" class="form-control" placeholder="Site Adresini Girin" name="urlfield" id="urlfield" data-rule-url="true" data-rule-required="true">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>


                }
            </div>







                    
                    </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Referanslar</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yeni" href="#"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Düzenle" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Yenile" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox" /></th>
                                <th>ID</th>
                                <th>Referans Başlığı</th>
                                <th>Referans Adresi</th>
                                <th>Referans Resim URL</th>
                                <th>Silme</th>
                                <th>Düzenleme</th>
                            </tr>
                        </thead>


                            <tbody>
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" /></td>
                                    <td>asdsa</td>
                                    <td>Soru</td>
                                    <td>Cevap</td>
                                    <td>www.deneme.com</td>
                                    <td><a class="btn btn-sm show-tooltip" title="Düzenleme" href="#"><i class="fa fa-edit"></i></a></td>
                                    <td><a class="btn btn-sm btn-danger show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </tbody>


                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>2015 © Cizgi Tech Admin Yönetimi.</p>
</footer>

<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
