@model ProjeKulubu.Models.Referanslar

@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />


<div class="page-title">
    <div>
        <h1><i class="fa fa-star"></i> Referanslar</h1>
        <h4>Bu kısımda mevcut referanslarınızı düzenleyebilir veya referans ekleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Referans Yönetimi</li>
    </ul>
</div> 

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-star-half-full"></i> Referans Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Reference", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {

                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label" for="username">Referans Başlığı:</label>
                        <div class="col-sm-6 col-lg-4 controls">
                            <input type="text" id="ReferenceTitle"  class="form-control show-popover" placeholder="Referans Başlığını Giriniz..." data-trigger="hover" data-content="Bu kısıma referans başlığınızı giriniz..." data-original-title="Referans Başlığı" data-placement="top" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label" for="username">Referans Site Adresi:</label>
                        <div class="col-sm-6 col-lg-4 controls">
                            @*@Html.TextBoxFor(model => model.SiteURL, new { @class = "form-control",@placeholder="www." })*@
                            <input type="text" id="SiteUrl" class="form-control  show-popover" placeholder=" www." data-trigger="hover" data-content="Bu kısıma referansa ait web site adresini giriniz..." data-original-title="Referans Web Site" data-placement="top" />
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-lg-2 control-label">Resim Yükleme:</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists img-thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">Resim Seç</span>
                                            <span class="fileupload-exists">Değiştir</span>
                                        @Html.HiddenFor(x=>Model.ID)
                                            <input type="file" multiple name="uploadFile" id="uploadFile" class="file-input"/>
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Sil</a>
                                    </div>
                                </div>
                            </div>
                     </div>
                        <div class="form-group">
                            <label for="urlfield" class="col-sm-3 col-lg-2 control-label">Resim SEO:</label>
                            <div class="col-sm-6 col-lg-4 controls">
                                @*@Html.TextBoxFor(model =>model.SeoAlt, new { @class = "form-control", @placeholder = "SEO Kelimenizi Giriniz" })*@
                                <input type="text" class="form-control show-popover" id="ReferenceSeo" placeholder="SEO Kelimenizi Giriniz..." data-trigger="hover" data-content="Bu kısıma referansa ait maksimum üç anahtar kelime giriniz..." data-original-title="Referans Resim SEO" data-placement="top" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <input type="submit" value="Kaydet" class="btn btn-primary" id="SaveButton"/>
                            </div>
                        </div>


                }
            </div>
                    </div>
        </div>
    </div>

@*@Html.Action("ReferansList")*@

<footer>
    <p>2016 © <a href="http://www.cizgitech.com">Cizgi-Tech</a> Yazılım Çözümleri</p>
</footer>

<a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript" src="/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
