@{
    ViewBag.Title = "YakındakiProjeler";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<h2>Yakındaki Projeler</h2>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="~/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/AdminContent/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Content/AdminContent/assets/jquery-cookie/jquery.cookie.js"></script>
<!--page specific plugin scripts-->
<script src="~/Content/AdminContent/assets/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/jquery-validation/dist/additional-methods.min.js"></script>
<!--flaty scripts-->
<script src="~/Content/AdminContent/js/flaty.js"></script>
<script src="~/Content/AdminContent/js/flaty-demo-codes.js"></script> 
<link rel="stylesheet" href="~/Content/AdminContent/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/AdminContent/assets/font-awesome/css/font-awesome.min.css">
<!--page specific css styles-->
<!--flaty css styles-->
<link rel="stylesheet" href="~/Content/AdminContent/css/flaty.css">
<link rel="stylesheet" href="~/Content/AdminContent/css/flaty-responsive.css">




@*<div class="col-md-12">
    <div class="box">
        <div class="box-title">
            <h3><i class="fa fa-bars"></i> Form Wizard</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                <a data-action="close" href="#"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form action="#" class="form-horizontal">
                <div class="form-wizard" id="form-wizard-1">
                    <ul class="row steps">
                        <li class="col-xs-12 col-sm-6 col-lg-3">
                            <a href="#tab1-1" data-toggle="tab" class="step active">
                                <span class="number">1</span>
                                <span class="desc"><i class="fa fa-check"></i> Account Setup</span>
                            </a>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-lg-3">
                            <a href="#tab1-2" data-toggle="tab" class="step">
                                <span class="number">2</span>
                                <span class="desc"><i class="fa fa-check"></i> Profile Setup</span>
                            </a>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-lg-3">
                            <a href="#tab1-3" data-toggle="tab" class="step">
                                <span class="number">3</span>
                                <span class="desc"><i class="fa fa-check"></i> Billing Setup</span>
                            </a>
                        </li>
                        <li class="col-xs-12 col-sm-6 col-lg-3">
                            <a href="#tab1-4" data-toggle="tab" class="step">
                                <span class="number">4</span>
                                <span class="desc"><i class="fa fa-check"></i> Confirm</span>
                            </a>
                        </li>
                    </ul>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1-1">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-3 col-lg-2 control-label">First Name</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="firstname" id="firstname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 col-lg-2 control-label">Last Name</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="lastname" id="lastname" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1-2">
                            <div class="form-group">
                                <label for="username" class="col-sm-3 col-lg-2 control-label">Username</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-3 col-lg-2 control-label">Password</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="re-password" class="col-sm-3 col-lg-2 control-label">Password Again</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="password" name="re-password" id="re-password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 col-lg-2 control-label">Email</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1-3">
                            <div class="form-group">
                                <label for="country" class="col-sm-3 col-lg-2 control-label">Country</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="country" id="country" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="city" class="col-sm-3 col-lg-2 control-label">City</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <input type="text" name="city" id="city" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <label class="radio-inline">
                                        <input type="radio" name="gender"> Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="gender"> Female
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textarea" class="col-sm-3 col-lg-2 control-label">More info</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <textarea name="textarea" id="textarea" rows="5" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab1-4">
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">First Name</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <span class="text">Penny</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">last Name</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <span class="text">Rodrigez</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <span class="text">Female</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Username</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <span class="text">PennyRod</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label">Email</label>
                                <div class="col-sm-5 col-lg-3 controls">
                                    <span class="text">pennyrod@domain.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                            <a href="javascript:;" class="btn button-previous">Back</a>
                            <a href="javascript:;" class="btn btn-primary button-next">Continue</a>
                            <a href="javascript:;" class="btn btn-success button-submit">Submit</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>*@

<div id="main-content">
   
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Form Wizard</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i> Form Wizard</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="#" class="form-horizontal">
                        <div class="form-wizard" id="form-wizard-1">
                            <ul class="row steps">
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab1-1" data-toggle="tab" class="step active">
                                        <span class="number">1</span>
                                        <span class="desc"><i class="fa fa-check"></i> Account Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab1-2" data-toggle="tab" class="step">
                                        <span class="number">2</span>
                                        <span class="desc"><i class="fa fa-check"></i> Profile Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab1-3" data-toggle="tab" class="step">
                                        <span class="number">3</span>
                                        <span class="desc"><i class="fa fa-check"></i> Billing Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab1-4" data-toggle="tab" class="step">
                                        <span class="number">4</span>
                                        <span class="desc"><i class="fa fa-check"></i> Confirm</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1-1">
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-3 col-lg-2 control-label">First Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="firstname" id="firstname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-3 col-lg-2 control-label">Last Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="lastname" id="lastname" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab1-2">
                                    <div class="form-group">
                                        <label for="username" class="col-sm-3 col-lg-2 control-label">Username</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="username" id="username" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-3 col-lg-2 control-label">Password</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="re-password" class="col-sm-3 col-lg-2 control-label">Password Again</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="password" name="re-password" id="re-password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 col-lg-2 control-label">Email</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="email" id="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab1-3">
                                    <div class="form-group">
                                        <label for="country" class="col-sm-3 col-lg-2 control-label">Country</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="country" id="country" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="city" class="col-sm-3 col-lg-2 control-label">City</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="city" id="city" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <label class="radio-inline">
                                                <input type="radio" name="gender"> Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender"> Female
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea" class="col-sm-3 col-lg-2 control-label">More info</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <textarea name="textarea" id="textarea" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab1-4">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">First Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Penny</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">last Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Rodrigez</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Female</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Username</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">PennyRod</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Email</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">pennyrod@domain.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <a href="javascript:;" class="btn button-previous">Back</a>
                                    <a href="javascript:;" class="btn btn-primary button-next">Continue</a>
                                    <a href="javascript:;" class="btn btn-success button-submit">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-pink">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i> Form Wizard - Filled Style with Validation</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="#" class="form-horizontal" id="wizard-validation">
                        <div class="form-wizard" id="form-wizard-2">
                            <ul class="row steps steps-fill">
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab2-1" data-toggle="tab" class="step active">
                                        <span class="number">1</span>
                                        <span class="desc"><i class="fa fa-check"></i> Account Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab2-2" data-toggle="tab" class="step">
                                        <span class="number">2</span>
                                        <span class="desc"><i class="fa fa-check"></i> Profile Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab2-3" data-toggle="tab" class="step">
                                        <span class="number">3</span>
                                        <span class="desc"><i class="fa fa-check"></i> Billing Setup</span>
                                    </a>
                                </li>
                                <li class="col-xs-12 col-sm-6 col-lg-3">
                                    <a href="#tab2-4" data-toggle="tab" class="step">
                                        <span class="number">4</span>
                                        <span class="desc"><i class="fa fa-check"></i> Confirm</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-primary"></div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab2-1">
                                    <div class="form-group">
                                        <label for="firstname2" class="col-sm-3 col-lg-2 control-label">First Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="firstname2" id="firstname2" class="form-control" data-rule-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname2" class="col-sm-3 col-lg-2 control-label">Last Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="lastname2" id="lastname2" class="form-control" data-rule-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2-2">
                                    <div class="form-group">
                                        <label for="username2" class="col-sm-3 col-lg-2 control-label">Username</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="username2" id="username2" class="form-control" data-rule-required="true" data-rule-minlength="3">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password2" class="col-sm-3 col-lg-2 control-label">Password</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="password" name="password2" id="password2" class="form-control" data-rule-required="true" data-rule-minlength="6">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="re-password2" class="col-sm-3 col-lg-2 control-label">Password Again</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="password" name="re-password2" id="re-password2" class="form-control" data-rule-required="true" data-rule-minlength="6" data-rule-equalto="#password2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email2" class="col-sm-3 col-lg-2 control-label">Email</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="email2" id="email2" class="form-control" data-rule-required="true" data-rule-email="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2-3">
                                    <div class="form-group">
                                        <label for="country2" class="col-sm-3 col-lg-2 control-label">Country</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="country2" id="country2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="city2" class="col-sm-3 col-lg-2 control-label">City</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <input type="text" name="city2" id="city2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <label class="radio-inline">
                                                <input type="radio" name="gender"> Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender"> Female
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea2" class="col-sm-3 col-lg-2 control-label">More info</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <textarea name="textarea2" id="textarea2" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2-4">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">First Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Penny</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">last Name</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Rodrigez</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Gender</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">Female</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Username</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">PennyRod</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-lg-2 control-label">Email</label>
                                        <div class="col-sm-5 col-lg-3 controls">
                                            <span class="text">pennyrod@domain.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <a href="javascript:;" class="btn button-previous">Back</a>
                                    <a href="javascript:;" class="btn btn-primary button-next">Continue</a>
                                    <a href="javascript:;" class="btn btn-success button-submit">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <footer>
        <p>2015 © FLATY Admin Template.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>