@{
    ViewBag.Title = "YOfis";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}

<h2>YOfis</h2>
<link href="~/Content/AdminContent/css/flaty.css" rel="stylesheet" />
<link href="~/Content/AdminContent/css/flaty-responsive.css" rel="stylesheet" />
<link href="~/Content/AdminContent/assets/chosen-bootstrap/chosen.css" rel="stylesheet" />



<div id="main-content">
    <!-- BEGIN Page Title -->
    <div class="page-title">
        <div>
            <h1><i class="fa fa-file-o"></i> Ofis Yönetimi</h1>
            <h4>Bu kısımda mevcut ofis bilgilerini düzenleyebilir yada yeni bir ofis ekleyebilirsiniz.</h4>
        </div>
    </div>
    <!-- END Page Title -->
    <!-- BEGIN Breadcrumb -->
    <div id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Ana Sayfa</a>
                <span class="divider"><i class="fa fa-angle-right"></i></span>
            </li>
            <li class="active">Ofis Yönetimi</li>
        </ul>
    </div>
    <!-- END Breadcrumb -->
    <!-- BEGIN Main Content -->

    <div class="row hidden-xs">
        <div class="col-md-12">
            <div class="box box-green">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i>Ofis Ekleme Formu</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form action="#" class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6 ">
                                <!-- BEGIN Left Side -->
                                <div class="form-group">
                                    <label for="textfield1" class="col-xs-3 col-lg-2 control-label">İsim : </label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <input type="text" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofisinizin ismini giriniz..." data-original-title="Ofis İsmi" data-placement="top" placeholder="Ofis İsim">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password1" class="col-xs-3 col-lg-2 control-label" style=" margin-top: -9px;">İlgilendiği Proje :</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                            <option value="Category 3">Category 5</option>
                                            <option value="Category 4">Category 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Email" class="col-xs-3 col-lg-2 control-label">E-Mail : </label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <div class="input-group">
                                            <span class="input-group-addon">@@</span>
                                            <input class="form-control" type="text" placeholder="Email">
                                        </div>
                                        <span class="help-inline">deneme@deneme.com</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textarea1" class="col-xs-3 col-lg-2 control-label">İçerik : </label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <textarea name="textarea1" id="textarea1" rows="5" class="form-control show-popover" data-trigger="hover" data-content="Bu kısımda ofisinize ait özet bir içerik giriniz..." data-original-title="Ofis İçeriği" data-placement="top" placeholder="Ofis için içerik giriniz..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textarea1" class="col-xs-3 col-lg-2 control-label">Resimler : </label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <input type="file" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofisinizin resimlerini ekleyebilirsiniz..." data-original-title="Ofis Resimleri" data-placement="top" placeholder="Görsel Eklemek İçin Tıklayın...">
                                    </div>
                                </div>
                                <!-- END Left Side -->
                            </div>
                            <div class="col-md-6 ">
                                <!-- BEGIN Right Side -->
                                <div class="form-group">
                                    <label for="textfield2" class="col-xs-3 col-lg-2 control-label">Başlık :</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <input type="text" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofisinizin sayfada görünecek başlığını giriniz..." data-original-title="Ofis Başlığı" data-placement="top" placeholder="Ofis Başlık">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Location" class="col-xs-3 col-lg-2 control-label">Konum :</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                            <option value="">Select...</option>
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                            <option value="Category 3">Category 5</option>
                                            <option value="Category 4">Category 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="col-xs-3 col-lg-2 control-label">Telefon :</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <input class="form-control col-md-5" type="text" data-mask="(999) 999-9999" placeholder="">
                                        <span class="help-inline">(212) 212-2121</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textarea2" class="col-xs-3 col-lg-2 control-label">Adres :</label>
                                    <div class="col-sm-9 col-lg-10 controls">
                                        <textarea name="textarea2" id="textarea2" rows="5" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofisinizin adres bilgisini giriniz..." data-original-title="Ofis Adres" data-placement="top" placeholder="Adres içeriği giriniz..."></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Kaydet</button>
                                        <button type="button" class="btn" style=" margin-left: 10px;"><i class="fa fa-bomb"></i> İptal Et</button>
                                    </div>
                                </div>
                                <!-- END Right Side -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Main Content -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-black">
                <div class="box-title">
                    <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Ofisler</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Yeni" href="#"><i class="fa fa-plus"></i></a>
                            <a class="btn btn-circle show-tooltip" title="Düzenle" href="#"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-circle show-tooltip" title="Silme" href="#"><i class="fa fa-trash-o"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-circle show-tooltip" title="Yenile" href="#"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table class="table table-advance">
                            <thead>
                                <tr>
                                    <th style="width:18px"><input type="checkbox" /></th>
                                    <th>Seç</th>
                                    <th>Ofis İsmi</th>
                                    <th>Ofis Başlığı</th>
                                    <th>İçerik</th>
                                    <th>Konum</th>
                                    <th>İlgilendiği Proje</th>
                                    <th>Telefon</th>
                                    <th>Email</th>
                                    <th>Adres</th>
                                    <th>Ofis Resimleri</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-flag-blue">
                                    <td><input type="checkbox" /></td>
                                    <td>1</td>
                                    <td>Soru</td>
                                    <td>Cevap</td>
                                    <td>www.deneme.com</td>
                                    <td>Deneme</td>
                                    <td>Deneme</td>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="#">← Önceki</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">Sonraki → </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>2015 © FLATY Admin Template.</p>
    </footer>
    <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
</div>