@{
    ViewBag.Title = "CompleteProjects";
    Layout = "~/Views/AdminShared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/AdminContent/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/AdminContent/assets/font-awesome/css/font-awesome.min.css">
<!--page specific css styles-->
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/chosen-bootstrap/chosen.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/jquery-tags-input/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/jquery-pwstrength/jquery.pwstrength.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-duallistbox/duallistbox/bootstrap-duallistbox.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/dropzone/downloads/css/dropzone.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/clockface/css/clockface.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
<link rel="stylesheet" type="text/css" href="~/Content/AdminContent/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<!--flaty css styles-->
<link rel="stylesheet" href="~/Content/AdminContent/css/flaty.css">
<link rel="stylesheet" href="~/Content/AdminContent/css/flaty-responsive.css">
<link href="~/Content/AdminContent/css/FooterStyle.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.4.min.js"><\/script>')</script>
<script src="~/Content/AdminContent/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/AdminContent/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Content/AdminContent/assets/jquery-cookie/jquery.cookie.js"></script>
<!--page specific plugin scripts-->
<script type="text/javascript" src="~/Content/AdminContent/assets/chosen-bootstrap/chosen.jquery.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/jquery-pwstrength/jquery.pwstrength.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-duallistbox/duallistbox/bootstrap-duallistbox.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/dropzone/downloads/dropzone.min.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/clockface/js/clockface.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="~/Content/AdminContent/assets/ckeditor/ckeditor.js"></script>
<script src="~/Content/AdminContent/js/buttonActions.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var elem = $("#StepOne");
        elem.addClass("active");
    });


    function StepControl1() {

        if ($("#PName").val() == null) {
            alert("Lütfen eksiksiz veri girişi yapınız..");
        } else {
            var elem = $("#StepOne");
            elem.removeClass("active");
            var elem2 = $("#StepTwo");
            elem2.addClass("active");
            elem2.attr("aria-expanded", "true");
            $("#tab1-1").removeClass("active");
            var dataDiv = $("#tab1-2");
            dataDiv.addClass("active");
        }
    }

    function StepControl2() {

        if ($("#PTime").val() == "" || $("#PPhone").val() == "" || $("#PEMail").val() == "" || $("#PLocation").val() == "" || $("#PAdress").val() == "") {
            alert("Lütfen eksiksiz veri girişi yapınız..");

        } else {
            var elem2 = $("#StepTwo");
            elem2.removeClass("active");
            var elem3 = $("#StepThree");
            elem3.addClass("active");
            elem3.attr("aria-expanded", "true");
            var dataDiv = $("#tab1-2");
            dataDiv.removeClass("active");
            var dataDiv2 = $("#tab1-3");
            dataDiv2.addClass("active");
        }

    }


    function StepControl3() {

        if ($("#uploadFile").val() == null || $("#uploadFile").val() == "") {

            alert("Lütfen projeye ait en az bir resim ekleyiniz...");

        } else {

            var elem3 = $("#StepThree");
            elem3.removeClass("active");
            var elem4 = $("#StepFour");
            elem4.addClass("active");
            elem4.attr("aria-expanded", "true");
            var dataDiv = $("#tab1-3");
            dataDiv.removeClass("active");
            var dataDiv2 = $("#tab1-4");
            dataDiv2.addClass("active");

            $("#LblIsim").text($("#PName").val());
            $("#LblBugdet").text($("#PTime").val());
            $("#LblBirim").text($("#PLocation").val());
            $("#LblYear").text($("#PPhone").val());
            $("#LblEmail").text($("#PEMail").val());
            $("#LblLocation").text($("#PAdress").val());




            $("#LblPicture1").text($("#uploadFile").val());

            if ($("#uploadFile1").val() == null) {

                $("#LblPicture2").text("Resim Yüklenmedi");
            } else {
                $("#LblPicture2").text($("#uploadFile1").val());
            }

            if ($("#uploadFile2").val() == null) {
                $("#LblPicture3").text("Resim Yüklenmedi");
            } else {
                $("#LblPicture3").text($("#uploadFile2").val());
            }
            if ($("#uploadFile3").val() == null) {
                $("#LblPicture4").text("Resim Yüklenmedi");
            } else {
                $("#LblPicture4").text($("#uploadFile3").val());
            }

            if ($("#uploadFile4").val() == null) {
                $("#LblPicture5").text("Resim Yüklenmedi");
            } else {
                $("#LblPicture5").text($("#uploadFile4").val());
            }
        }
    }

    var _counter = 0;
    function AddPictureForm() {

        _counter++;
        if (_counter <= 4) {

            var elem = $("#tab1-3").find(".box-content");

            elem.append("<div class='form-group' id='data" + _counter + "'>" +
                                            "<label class='col-sm-3 col-lg-2 control-label'>* Proje Resmi:</label>" +
                                            "<div class='col-sm-9 col-lg-10 controls'>" +
                                                "<div class='fileupload fileupload-new' data-provides='fileupload'>" +
                                                    "<div class='fileupload-new img-thumbnail' style='width: 200px; height: 150px;'>" +
                                                        "<img src='/Content/noimage.gif' alt=''>" +
                                                    "</div>" +
                                                    "<div class='fileupload-preview fileupload-exists img-thumbnail' style='max-width: 200px; max-height: 150px; line-height: 20px;'></div>" +
                                                    "<div>" +
                                                        "<span class='btn btn-default btn-file'>" +
                                                            "<span class='fileupload-new'>Resim Seç</span>" +
                                                            "<span class='fileupload-exists'>Değiştir</span>" +

                                                            "<input required='' oninvalid='this.setCustomValidity('Ofis Resimlerini Boş Geçemezsiniz')' type='file' accept='image/*' oninput='setCustomValidity('')' name='uploadFile" + _counter + "' id='uploadFile" + _counter + "' name='CommentPicture' class='file-input'>" +
                                                        "</span>" +
                                                        "<a href='#' class='btn btn-default fileupload-exists' data-dismiss='fileupload'>Sil</a>" +
                                                    "</div>" +
                                                "</div>" +

                                                "<span class='help-inline' onclick='AddPictureForm()' style='color:#0090ff; cursor:pointer;'>Daha Fazla Resim Ekle</span>" +
                                                "<span class='help-inline' onclick='DeletePictureForm(" + _counter + ")' dataId='data" + _counter + "' style='color: #ff0000;cursor: pointer;margin-left: 15px;'>İptal Et</span>" +

                                            "</div>" +
                                        "</div>");
        } else {

            alert("Maksimum 5 Proje Resmi Ekleyebilirsiniz...");
            _counter = 0;
        }

    }

    function DeletePictureForm(_counter) {

        var elem = $(".box-content").find("#data" + _counter + "");
        elem.fadeOut(1000);
        _counter = 0;
    }
    function OnlyNumber() {
        if ((event.keyCode < 48) || (event.keyCode > 57)) {
            return false;
        }
    }

</script>


<div class="page-title">
    <div>
        <h1><i class="fa fa-bars"></i> Tamamlanan Proje Yönetimi</h1>
        <h4>Bu kısımda proje ekleyip silebilir veya düzenleyebilirsiniz</h4>
    </div>
</div>

<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index","Admin")">Ana Sayfa</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
        </li>
        <li class="active">Ofis Yönetimi</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-rocket"></i>Tamamlanan Proje Ekleme Formu</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form action="/Project/AddProject" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-wizard" id="form-wizard-1">
                        <ul class="row steps">
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepOne">
                                <a class="step">
                                    <span class="number">1</span>
                                    <span class="desc"><i class="fa fa-check"></i> Genel Bilgiler</span>
                                </a>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepTwo">
                                <a class="step">
                                    <span class="number">2</span>
                                    <span class="desc"><i class="fa fa-check"></i> İletişim Bilgileri</span>
                                </a>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepThree">
                                <a class="step">
                                    <span class="number">3</span>
                                    <span class="desc"><i class="fa fa-check"></i> Görsel Bilgileri</span>
                                </a>
                            </li>
                            <li class="col-xs-12 col-sm-6 col-lg-3" id="StepFour">
                                <a class="step">
                                    <span class="number">4</span>
                                    <span class="desc"><i class="fa fa-check"></i> Onayla & Kaydet</span>
                                </a>
                            </li>
                        </ul>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1-1">
                                <div class="box-content">
                                    <form action="#" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <!-- BEGIN Left Side -->
                                                <div class="form-group">
                                                    <label for="textfield1" class="col-xs-3 col-lg-2 control-label">İsim : </label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <input type="text" id="PName" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma proje ismini giriniz..." data-original-title="Proje İsmi" data-placement="top" placeholder="Proje İsim">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password1" class="col-xs-3 col-lg-2 control-label">Tipi :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" data-placeholder="Choose a Category" tabindex="1" id="Ptype">
                                                            <option value="null">Seçiniz...</option>
                                                            <option value="Plaza">Plaza</option>
                                                            <option value="IsMerkezi">İş Merkezi</option>
                                                            <option value="Fabrika">Fabrika</option>
                                                            <option value="Villa">Villa</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password1" class="col-xs-3 col-lg-2 control-label">Durum :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" data-placeholder="Choose a Category" tabindex="1" id="PStatus">
                                                            <option value="null">Seçiniz...</option>
                                                            <option value="Plaza">Plaza</option>
                                                            <option value="IsMerkezi">İş Merkezi</option>
                                                            <option value="Fabrika">Fabrika</option>
                                                            <option value="Villa">Villa</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="textarea2" class="col-xs-3 col-lg-2 control-label">İçerik :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <textarea name="textarea2" id="PContent" rows="5" class="form-control ckeditor show-popover" data-trigger="hover" data-content="Bu kısıma projenin açıklamasını giriniz..." data-original-title="Proje Açıklama" data-placement="top" placeholder="Proje Açıklaması Giriniz..."></textarea>
                                                    </div>
                                                </div>
                                                <!-- END Left Side -->
                                            </div>
                                            <div class="col-md-6 ">
                                                <!-- BEGIN Right Side -->
                                                <div class="form-group">
                                                    <label for="textfield2" class="col-xs-3 col-lg-2 control-label">Bütçe :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <input type="text" id="PBudget" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma projenin bütçe değerini giriniz..." data-original-title="Proje Bütçesi" data-placement="top" placeholder="Proje Bütçe">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Location" class="col-xs-3 col-lg-2 control-label">Birim :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" id="PBirim" data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="null">Para Birimi...</option>
                                                            <option value="TurkLirasi">Türk Lirası (TL)</option>
                                                            <option value="AmerikanDolari">Amerikan Doları ($)</option>
                                                            <option value="Euro">Euro (€)</option>
                                                            <option value="Pound">Pound(£)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tel" class="col-xs-3 col-lg-2 control-label">Yıl :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" id="PYear" data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="null">Proje Bitiş Yılı...</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2016">2016</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                                        <input type="button" class="btn btn-primary" onclick="StepControl1()" style="float:right;" value="Devam Et" />
                                                    </div>
                                                </div>
                                                <!-- END Right Side -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab1-2">
                                <div class="box-content">
                                    <form action="#" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <!-- BEGIN Left Side -->
                                                <div class="form-group">
                                                    <label for="Location" class="col-xs-3 col-lg-2 control-label">Zaman :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" id="PTime" data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="">Çalışma Saatleri...</option>
                                                            <option value="Category 1">Hafta-İçi(9:00-17:00)</option>
                                                            <option value="Category 2">Hafta-İçi(9:00-17:00),Cumartesi(9:00-13:00)</option>
                                                            <option value="Category 3">Cumartesi-Pazar(10:30-15:00)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tel" class="col-xs-3 col-lg-2 control-label">Telefon :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <input class="form-control col-md-5" id="PPhone" type="text" data-mask="(999) 999-9999" placeholder="">
                                                        <span class="help-inline">(212) 212-2121</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Email" class="col-xs-3 col-lg-2 control-label">E-Mail : </label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">@@</span>
                                                            <input class="form-control" id="PEMail" type="text" placeholder="Email">
                                                        </div>
                                                        <span class="help-inline">deneme@deneme.com</span>
                                                    </div>
                                                </div>
                                                <!-- END Left Side -->
                                            </div>
                                            <div class="col-md-6 ">
                                                <!-- BEGIN Right Side -->
                                                <div class="form-group">
                                                    <label for="password1" class="col-xs-3 col-lg-2 control-label">Konum :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <select class="form-control" id="PLocation" data-placeholder="Choose a Category" tabindex="1">
                                                            <option value="">Konum Seçiniz...</option>
                                                            <option value="İstanbul,Türkiye">İstanbul, Türkiye</option>
                                                            <option value="Ankara,Türkiye">Ankara, Türkiye</option>
                                                            <option value="İzmir,Türkiye">İzmir, Türkiye</option>
                                                            <option value="Bursa,Türkiye">Bursa, Türkiye</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="textarea2" class="col-xs-3 col-lg-2 control-label">Adres :</label>
                                                    <div class="col-sm-9 col-lg-10 controls">
                                                        <textarea name="textarea2" id="PAdress" rows="5" class="form-control show-popover" data-trigger="hover" data-content="Bu kısıma ofisinizin adres bilgisini giriniz..." data-original-title="Ofis Adres" data-placement="top" placeholder="Adres içeriği giriniz..."></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                                        <input type="button" class="btn btn-primary" onclick="StepControl2()" style="float:right;" value="Devam Et" />
                                                    </div>
                                                </div>
                                                <!-- END Right Side -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab1-3">
                                <div class="box-content">
                                    <div class='form-group' id='data" + _counter + "'>
                                       
                                        <label class='col-sm-3 col-lg-2 control-label'>* Proje Resmi:</label>
                                        <div class='col-sm-9 col-lg-10 controls'>
                                            
                                            <div class='fileupload fileupload-new' data-provides='fileupload'>
                                                
                                                <div class='fileupload-new img-thumbnail' style='width: 200px; height: 150px;'>
                                                    
                                                    <img src='/Content/noimage.gif' alt=''>
                                                    
                                                </div>
                                                <div class='fileupload-preview fileupload-exists img-thumbnail' style='max-width: 200px; max-height: 150px; line-height: 20px;'></div>
                                                <div>
                                                    
                                                    <span class='btn btn-default btn-file'>
                                                        
                                                        <span class='fileupload-new'>Resim Seç</span>
                                                        <span class='fileupload-exists'>Değiştir</span>

                                                        <input required='' oninvalid='this.setCustomValidity(' ofis resimlerini boş geçemezsiniz')' type='file' accept='image/*' oninput='setCustomValidity(' ')' name='uploadFile" + _counter + "' id='uploadFile" + _counter + "' name='CommentPicture' class='file-input'>
                                                        
                                                    </span>
                                                    <a href='#' class='btn btn-default fileupload-exists' data-dismiss='fileupload'>Sil</a>
                                                    
                                                </div>
                                                
                                            </div>

                                            <span class='help-inline' onclick='AddPictureForm()' style='color:#0090ff; cursor:pointer;'>Daha Fazla Resim Ekle</span>
                                            <span class='help-inline' onclick='DeletePictureForm(" + _counter + ")' dataid='data" + _counter + "' style='color: #ff0000;cursor: pointer;margin-left: 15px;'>İptal Et</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab1-4">
                                <div class="box-content">
                                    <div class="row">

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İsim :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIsim"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Tip :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblType"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Durum :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblStatus"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İçerik :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIcerik"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Bütçe :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblBugdet"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Birim :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblBirim"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Yıl :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblYear"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Zaman :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblTime"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Telefon :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblPhone"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">E-Mail :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblEmail"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Konum :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblLocation"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Adres :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblAdress"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Resim 1 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblPicture1"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">SeoAlt 1 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblSeoAlt1"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İçerik 1 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIcerik1"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Resim 2 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblPicture2"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">SeoAlt 2 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblSeoAlt2"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İçerik 2 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIcerik2"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">Resim 3 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblPicture3"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">SeoAlt 3 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblSeoAlt3"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 col-lg-2 control-label">İçerik 3 :</label>
                                                <div class="col-sm-5 col-lg-3 controls">
                                                    <span class="text" id="LblIcerik3"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                            <button type="submit" id="button-save" class="btn btn-primary" style="float:right; margin-right: 50px;">Onayla & Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-black">
            <div class="box-title">
                <h3><i class="fa fa-bars"></i> Mevcut Yayındaki Tamamlanan Projeler</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" id="NewAdd" onclick="GoAddProject()" title="" data-original-title="Yeni Ekle"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="" href="#" data-original-title="Düzenle"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="" href="#" data-original-title="Silme"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="" href="#" data-original-title="Yenile"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br><br>
                <div class="table-responsive">
                    <table class="table table-advance">
                        <thead>
                            <tr>
                                <th style="width:18px"><input type="checkbox"></th>
                                <th>Seç</th>
                                <th>Proje İsmi</th>
                                <th>Proje Tipi</th>
                                <th>Proje Konumu</th>
                                <th>Proje Durum</th>
                                <th>Bütçe</th>
                                <th>Proje Yılı</th>
                                <th>Açıklama</th>
                                <th>Adres</th>
                                <th>Telefon</th>
                                <th>E-Mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-flag-blue">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>Soru</td>
                                <td>Cevap</td>
                                <td>www.deneme.com</td>
                                <td>Deneme</td>
                                <td>Deneme</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">← Önceki</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">Sonraki → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>