
@{
    ViewBag.Title = "AldigimizEgitimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Aldığımız Eğitimler</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Egitimlerimiz","Home")">Eğitimlerimiz</a></li>
                <li class="active">Aldığımız Eğitimler</li>
            </ol>
        </div>
    </div>
</section>

<section class="padding-tb50">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <div class="row team1">
                    <div class="col-sm-12 col-md-12">
                        <!--post box-->
                        <div class="box">
                            <!--blog date-->
                            <div class="blog_date2">
                                <p><span>27 Sep</span> 2015</p>
                                <p>03 <span>Comments</span></p>
                            </div>
                            <!--blog image-->
                            <figure>
                                <img src="/Content/pikocon_html/images/body/blog-single1.jpg" alt="service" class="img-responsive">
                            </figure> <!--end blog image-->
                            <!--blog caption-->
                            <div class="caption">
                                <h2>Your awesome post Title Here</h2>
                                <ul class="piko-li">
                                    <li><i class="fa fa-user"></i>Posted By: Jon Deo</li>
                                    <li><i class="fa fa-tags"></i><a href="#">Building</a> <a href="#">News</a></li>
                                    <li><i class="fa fa-heart-o"></i>10</li>
                                </ul>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Read More</a>
                            </div> <!--end blog caption-->
                        </div>  <!--end post box-->
                    </div> <!--end post-->
                    <div class="col-sm-12 col-md-12">
                        <!--post box-->
                        <div class="box">
                            <!--blog date-->
                            <div class="blog_date2">
                                <p><span>27 Sep</span> 2015</p>
                                <p>03 <span>Comments</span></p>
                            </div>
                            <!--blog video-->
                            <figure class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/swGmh6Qut_I"></iframe>
                            </figure> <!--end blog video-->
                            <!--blog caption-->
                            <div class="caption">
                                <h2>Your awesome post Title Here</h2>
                                <ul class="piko-li">
                                    <li><i class="fa fa-user"></i>Posted By: Jon Deo</li>
                                    <li><i class="fa fa-tags"></i><a href="#">Building</a> <a href="#">News</a></li>
                                    <li><i class="fa fa-heart-o"></i>10</li>
                                </ul>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Read More</a>
                            </div> <!--end blog caption-->
                        </div>  <!--end post box-->
                    </div> <!--end post-->
                    <div class="col-sm-12 col-md-12">
                        <!--post box-->
                        <div class="box">
                            <!--blog date-->
                            <div class="blog_date2">
                                <p><span>27 Sep</span> 2015</p>
                                <p>03 <span>Comments</span></p>
                            </div>
                            <!--blog image-->
                            <figure>
                                <img src="/Content/pikocon_html/images/body/blog-single2.jpg" alt="service" class="img-responsive">
                            </figure> <!--end blog image-->
                            <!--blog caption-->
                            <div class="caption">
                                <h2>Your awesome post Title Here</h2>
                                <ul class="piko-li">
                                    <li><i class="fa fa-user"></i>Posted By: Jon Deo</li>
                                    <li><i class="fa fa-tags"></i><a href="#">Building</a> <a href="#">News</a></li>
                                    <li><i class="fa fa-heart-o"></i>10</li>
                                </ul>
                                <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                <a href="#">Read More</a>
                            </div> <!--end blog caption-->
                        </div>  <!--end post box-->
                    </div> <!--end post-->
                </div>  <!--end of row-->
                <!--start pagination-->
                <div class="custom-pagi">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#">Prev</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <!--end of pagination-->
            </div>
            <div class="col-md-4 col-sm-5">
                <!--tab content-->
                <!--tab content-->
                <!--tab filter-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA"> Popular</a></li>
                    <li><a data-toggle="tab" href="#sectionB"> New</a></li>
                    <li><a data-toggle="tab" href="#sectionC"> Comments</a></li>
                </ul>  <!--tab filter-->
                <!--tab body content-->
                <div class="tab-content tab-widget">
                    <div id="sectionA" class="tab-pane fade in active">
                        <!--tab post-->
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>   <!--end tab post-->
                        <!--tab post-->
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>   <!--end tab post-->
                        <!--tab post-->
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>   <!--tab post-->
                    </div>   <!--end of section a-->
                    <!--section b-->
                    <div id="sectionB" class="tab-pane fade">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                    </div> <!--end section b-->
                    <!--section c-->
                    <div id="sectionC" class="tab-pane fade">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                    </div> <!--end section c-->
                </div> <!--End tabs-->
                <!--start archive-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Archive</span></h3>
                    </div><br>
                    <div class="archive">
                        <a href="#">November 2015</a>
                        <a href="#">September 2015</a>
                        <a href="#">January 2015</a>
                        <a href="#">December 2014</a>
                        <a href="#">August  2014</a>
                    </div>
                </div>
                <!--start tag-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Tags</span></h3>
                    </div><br>
                    <div class="footer2-box">
                        <a href="#" class="btn-s5 gray3">Building</a>
                        <a href="#" class="btn-s5 gray3">Tools</a>
                        <a href="#" class="btn-s5 gray3">Theme</a>
                        <a href="#" class="btn-s5 gray3">Well</a>
                        <a href="#" class="btn-s5 gray3">Construction</a>
                        <a href="#" class="btn-s5 gray3">News</a>
                        <a href="#" class="btn-s5 gray3">Renovation</a>
                        <a href="#" class="btn-s5 gray3">Shop</a>
                        <a href="#" class="btn-s5 gray3">Tools</a>
                        <a href="#" class="btn-s5 gray3">Architecture</a>
                        <a href="#" class="btn-s5 gray3">Machines</a>
                        <a href="#" class="btn-s5 gray3">Theme</a>
                        <a href="#" class="btn-s5 gray3">Consulting</a>
                        <a href="#" class="btn-s5 gray3">Project</a>
                    </div>
                </div>  <!--end start tag-->
            </div>  <!--end of col-->
        </div> <!--end of row-->
    </div> <!--end of container-->
</section>
