
@{
    ViewBag.Title = "BizKimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Biz Kimiz ?</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Vizyonumuz","Home")">Hakkımızda</a></li>
                <li class="active">Biz Kimiz ?</li>
            </ol>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4 padding-b20-media">
            <!--start body content-->
            <img src="/Content/pikocon_html/images/career-banner.jpg" class="img-responsive" alt="carer banner" />
            <div class="padding-t25">
                <!--start careers -->
                <h4>Başlık 1</h4>
                <p>Metin 1</p>
                <p>Metin 2</p>
                <h4>Bize Yazın:</h4>
                <p>E-maile Gönder <a href="mailto:info@projekulubuturkiye.com"><strong>info@projekulubuturkiye.com</strong></a></p>
                <div class="internship">
                    <h4>Başlık 2</h4>
                    <ul class="arrow no-border">
                        <li>Liste Metin 1</li>
                        <li>Liste Metin 2</li>
                        <li>Liste Metin 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--right side menu-->
        <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
            @Html.Partial("HakkimizdaMenu")
        </div> <!--end side menu-->
    </div> <!-- end of row-->
</section>


