@{
    ViewBag.Title = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>MAKALE İSMİ</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Blog","Home")">Makale</a></li>
                <li class="active">Makale İsmi</li>
            </ol>
        </div>
    </div>
</section>
<section class="padding-tb50">
    <div class="container">
        <div class="row team1">
            <div class="col-lg-12 col-md-8 col-sm-7">
                <div class="box">
                    <!--blog image-->
                    <figure>
                        <img src="/Content/pikocon_html/images/body/blog-single1.jpg" alt="service" style="width:100%" class="img-responsive">
                    </figure> <!--end blog image-->
                    <!--blog caption-->
                    <div class="caption">
                        <h2>Makale Başlığı</h2>
                        <ul class="piko-li">
                            <li><i class="fa fa-calendar"></i>2015 ŞUBAT 27</li>
                            <li><i class="fa fa-user"></i>Yazar: Jon Deo</li>
                            <li><i class="fa fa-tags"></i><a href="#">Etiketler</a> <a href="#">News</a></li>
                            <li><i class="fa fa-search"></i>10</li>
                            <li><i class="fa fa-comment"></i>25</li>
                        </ul>
                        <p>25 years experience piko construction and complete 100 building, and school college, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit tincidunt accumsan. Sed commodo, turpis vestibulum mattis  <mark>tristique, magna nisl accumsan tellus, </mark>sit amet elementum lacus nisi ac erat. In dapibus euismod magna sagittis interdum. Morbi turpis lectus, sodales et tellus vitae, sodales lobortis ligula. Nullam nec pulvinar est, sit amet posuere purus. Proin a metus bibendum, tempor arcu quis, auctor enim. Morbi aliquet sem eu sapien fermentum, in mollis sapien congue. Ut sed varius velit. Ut varius dapibus dignissim. Vivamus sit amet mattis libero, non imperdiet est. Suspendisse et ipsum ac odio euismod ultrices. Mauris dictum, est eu fermentum ornare, metus nulla malesuada elit, hendrerit pellentesque augue elit iaculis tellus. Morbi convallis sed nunc at dignissim. </p>
                    </div> <!--end blog caption-->
                </div>  <!--end post box-->
                <!--shrear icon-->
                <div class="blog-view margin-t40 clearfix">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h4 class="padding-t10"> Makaleyi Paylaş:</h4>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="social-share">
                            <ul>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-share-alt"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="btn-bounce-top"><a href="#"><i class="fa fa-heart-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!--end shrear icon-->
            </div> <!--end col 9-->
            <!--right slide bar-->
              <!--end of col-->
        </div> <!--end of row-->
    </div> <!--end of container-->
</section>