
@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Referanslarımız</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Referanslar</li>
            </ol>
        </div>
    </div>
</section>

<section class="padding-t50">
    <div class="container">
        <div class="row">
            <div class="piko-divider1 three"></div>
            <!--product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">
                            
                        </div>
                    </div>
                </div>
            </div>  <!--end product-->   
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="thumbnail piko-thub shop">
                    <img src="images/shop/1.png" alt="product construction" class="piko-thub-img ">
                    <div class="caption">
                        <div class="piko-title5">
                            <h3 class="shop"><span class="line2"></span><span class="line"></span><span class="text"><a href="shop-single.html"><strong>Referans Başlık</strong></a></span></h3>
                        </div>
                        <div class="cart-button" style="height:60px">

                        </div>
                    </div>
                </div>
            </div>  <!--end product-->        
        </div>
    </div>  <!--end container-->
</section>

<div class="margin-tb25">
    <!--start pagination-->
    <div class="container">
        <div class="custom-pagi">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#">Önceki</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">Sonraki</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end of pagination-->
</div>

