@{
    ViewBag.Title = "SatisSonuHizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Satış Sonu Hizmetler</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li class="active">Satış Sonu Hizmetler</li>
            </ol>
        </div>
    </div>
</section>

<section class="container">
    <div class="row padding-tb50">
        <div class="col-md-9 col-sm-8">
            <div class="media">
                <img src="~/Content/banner12.jpg" class="img-responsive" alt="carer banner" />
            </div>
            <!--text blog-->
            <div class="padding-tb25">
                <div class="piko-title4 widget">
                    <h3><span class="line"></span><span class="text">SATIŞ SONU HİZMETLER</span></h3>
                </div>
                <p class="padding-t10">Let's proceed on the assumption that you're taking out an individual construction loan. Such loans, which can be tough to get without a previous banking history because of the lack of collateral (a finished home), have special guidelines and include monitoring to ensure timely completion so your repayment can begin promptly.</p>
                <P>construction loans are typically short term with a <mark>maximum of 10 year</mark>, and have variable rates that move up and down with the prime rate.</P>
            </div> <!--end text blog-->
            <!--text blog-->
             <!--text blog-->
        </div> <!--end col-md 9 -->
        <!--start- right side menu-->
        <div class="col-md-3 col-sm-4">
            <div class="list-group custom-list">
                <a href="@Url.Action("Avantajlarimiz","Home")" class="list-group-item">AVANTAJLARIMIZ</a>
                <a href="@Url.Action("SatisSonuHizmetler","Home")" class="list-group-item active">SATIŞ SONU HİZMETLER</a>
                <a href="@Url.Action("IkinciElSatis","Home")" class="list-group-item">2.CI EL SATIŞLARIMIZ</a>
                <a href="construction.html" class="list-group-item">PROJE GELİŞTİRME</a>
                <a href="renovation.html" class="list-group-item">PROJE SATIŞ</a>
                <a href="big-project.html" class="list-group-item">PROJE PAZARLAMA</a>
            </div>
            <!--compnay address-->
            <address class="padding-t30">
                <strong>PIKO CONSTRUCTION INC</strong><br>
                2564 Southern Avenue Floyd<br>
                AF 2356, USA<br>
            </address>
            <abbr title="Phone Number"><strong>Phone:</strong></abbr> (123) 4567 890<br>
            <abbr title="Fax"><strong>Fax:</strong></abbr> (123) 4567 890 22<br>
            <abbr title="Email Address"><strong>Email:</strong></abbr> info@themepiko.com
        </div>  <!--end right side menu-->
    </div> <!-- end of row-->
</section>
