
@{
    ViewBag.Title = "VerdigimizEgitimler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner margin-t150">
    <div class="container page-banner">
        <div class="col-sm-6 col-md-6">
            <h1>Verdiğimiz Eğitimler</h1>
        </div>
        <div class="col-sm-6 col-md-6">
            <ol class="breadcrumb pull-right">
                <li><a href="@Url.Action("Index","Home")">Ana Sayfa</a></li>
                <li><a href="@Url.Action("Egitimlerimiz","Home")">Eğitimlerimiz</a></li>
                <li class="active">Verdiğimiz Eğitimler</li>
            </ol>
        </div>
    </div>
</section>

<section class="padding-tb50">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <!--post body-->
                <div class="row team1">
                    <div class="col-sm-12 col-md-6">
                        <!--post box-->
                        <div class="box">
                            <!--blog date-->
                            <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                            <!--blog image-->
                            <figure>
                                <img src="/Content/pikocon_html/images/blog01.jpg" alt="service">
                            </figure> <!--end blog image-->
                            <!--blog caption-->
                            <div class="caption">
                                <h2>Başlık 1</h2>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>2015 ŞUBAT 27</li>
                                    <li><i class="fa fa-search"></i>10</li>
                                </ul>
                                <p>Paylaşım Hakkında Kısa Paragraf</p>
                                <a href="@Url.Action("Egitim","Home")">Devamını Oku</a>
                            </div> <!--end blog caption-->
                        </div>  <!--end post box-->
                    </div> <!--end post-->

                    <div class="col-sm-12 col-md-6">
                        <!--post box-->
                        <div class="box">
                            <!--blog date-->
                            <div class="blog_date"><strong>27 </strong><br><p>ŞUBAT</p></div>
                            <!--blog video-->
                            <figure class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/swGmh6Qut_I"></iframe>
                            </figure> <!--end blog video-->
                            <!--blog caption-->
                            <div class="caption">
                                <h2>BAŞLIK 2</h2>
                                <ul class="piko-li">
                                    <li><i class="fa fa-calendar"></i>2015 ŞUBAT 27</li>
                                    <li><i class="fa fa-search"></i>10</li>
                                </ul>
                                <p>Paylaşım Hakkında Kısa Paragraf</p>
                                <a href="@Url.Action("Egitim","Home")">Devamını Oku</a>
                            </div> <!--end blog caption-->
                        </div>  <!--end post box-->
                    </div> <!--end post-->
 
                </div>
                <!--start pagination-->
                <div class="custom-pagi margin-t50">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#">Önceki</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">Sonraki</a>
                        </li>
                    </ul>
                </div>
                <!--end of pagination-->
            </div>
            <div class="col-md-3 col-sm-5">
                <!--tab content-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA"> Popüler</a></li>
                    <li><a data-toggle="tab" href="#sectionB"> Yeni</a></li>
                </ul>
                <div class="tab-content tab-widget">
                    <div id="sectionA" class="tab-pane fade in active">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Popüler Egitim 1</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Popüler Eğitim 2</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Popüler Eğitim 3</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                    </div>
                    <div id="sectionB" class="tab-pane fade">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Yeni Eğitim 1</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Yeni Eğitim 2</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">Yeni Eğitim 3</a><br>
                                <p>27 Şubat 2016</p>
                            </div>
                        </div>
                    </div>
                    <div id="sectionC" class="tab-pane fade">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/Content/pikocon_html/images/body/blog-tab.jpg" alt="piko construciton">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#">How To Build A Team Works Plan</a><br>
                                <p>10 Dec 2015</p>
                            </div>
                        </div>
                    </div>
                </div> <!--End tabs-->
                <!--start archive-->
                <div class="margin-b30">
                    <div class="piko-title4 widget">
                        <h3><span class="line"></span><span class="text">Arşiv</span></h3>
                    </div><br>
                    <div class="archive">
                        <a href="#">Ocak 2015</a>
                        <a href="#">Şubat 2015</a>
                        <a href="#">Mart 2015</a>
                        <a href="#">Kasım 2014</a>
                        <a href="#">Ekim  2014</a>
                    </div>
                </div>
                <!--start tag-->
                
            </div>
        </div>
    </div>
</section>